<!DOCTYPE html>
<html>
	<head>
		<title>Shorted</title>
	</head>
	<body>
		<center>
			<br>
			<h2><%= params[:obs] %></h2>
			<h3>Please check your URL: <u><%= params[:original_url] %></u></h3>
			<button onclick="window.history.back();"><<< Back</button>
		</center>
	</body>
</html>