<!DOCTYPE html>
<html>
	<head>
		<title>URL Shortener</title>
	</head>
	<body>
		<center>
			<br>
			<h2>URL Shortener</h2>
			<br>
			<form action="urls/create", method="post">
				<input type="text", value="", name="original_url"/>
				<input type="submit" value="Shorten!">
			</form>
		</center>
	</body>
</html>